* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #152127;
}

.container {
    max-width: 480px;
    /* tighter than 530px */
    padding: 0 16px;
    /* squeezes from left & right */
    margin: 0 auto;
}

.a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 300;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.b {
    color: white;
    margin-bottom: 8px;
    font-size: 20.5px;
    font-family: sans-serif;
}

.c {
    color: white;
    margin-bottom: 8px;
    font-size: 12.6px;
    font-family: sans-serif;
}
.c:hover{
    border-color: white;
}
.d {
    color: #1161c9; 
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.d:hover {
    text-decoration: underline;
    color: #1161c9;
}

.e {
    margin-bottom: 8px;
    padding: 14px;
    width: 95%;
    border-radius: 12px;
    background-color: #152127;
    border: 1px solid grey;
    color: white;
    /* text visible on blue */
    outline: none;
    font-family: sans-serif;
    /* removes default focus outline */
}


.f {
    color: white;
    font-size: 11px;
    margin-bottom: 18px;
    font-family: sans-serif;
    font-weight: bold;
}

.g {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    color: white;
    background-color:#1161c9;
    outline: none;
    border-color: #1161c9;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}
.g:hover{
    background-color: #196cd9;
    border-color: #196cd9;
}
.h {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.i {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* match input/button width */
    margin: 0 auto;
    /* centers the container */
    align-items: flex-start;
    /* left-align items inside */
    font-family: sans-serif;
}

.j {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* match input/button width */
    margin: 0 auto;
    /* centers the container */
    align-items: flex-start;
    /* left-align items inside */
    font-family: sans-serif;
}

.k {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.box {
    margin-top: 150px;
    height: 115px;
    background-color: #152127;
    display: flex;
    flex-direction: column;   /* stack ul vertically */
    align-items: center;
    font-weight: bold;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: #8A8D91;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}
.items {
    margin: 4px 5px;
    color: grey;
    font-size: 10px;
}

.items a {
    text-decoration: none;
    color: grey;
}

.items a:hover {
    text-decoration: underline;
}

.bottom {
    margin-top: 1px; /* spacing between rows */
}