* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left {
    background-color: black;
    width: 65%;
    height: 721px;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a {
    margin-top: 25px;
    margin-left: 25px;
    width: 92px;
    height: 92px;
}

.b {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
}

.c {
    width: 58%;
    height: 490px;
}

.right {
    background-color: #152127;
    width: 35%;
    height: 721px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #3D4F5C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d {
    color: white;
    align-self: flex-start;
    margin-left: 45px;
    margin-bottom: 20px;
    font-size: 14px;
}

.e {
    margin-bottom: 10px;
    width: 85%;
    padding: 16px;
    border-radius: 15px;
    background-color: #152127;
    border: 1px solid #3D4F5C;
    outline: none;
    color: white;
}

.e::placeholder {
    color: grey;
    opacity: 1;
}


.g {
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
    border-radius: 20px;
    border: 1px solid #1161c9;
    background-color: #1161c9;
    text-decoration: none;
    width: 85%;
    padding: 9px;
    font-size: 12px;
    font-weight: bold;
}

.h {
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 1px solid #152127;
    background-color: #152127;
    text-decoration: none;
    width: 85%;
    padding: 7px;
    font-size: 12px;
    margin-bottom: 40px;
}

.h:hover {
    border: 1px solid #21323a;
    background-color: #21323a;
}

.i {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 1px solid #3D4F5C;
    background-color: #152127;
    text-decoration: none;
    width: 85%;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.i:hover {
    background-color: #21323a;
}

.j {
    text-align: center;
    color: rgb(69, 153, 255);
    border-radius: 20px;
    border: 1px solid rgb(69, 153, 255);
    background-color: #152127;
    text-decoration: none;
    width: 85%;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.j:hover {
    background-color: #21323a;
}

.k {
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

.box {
    border-top: 1px solid #3D4F5C;
    height: 115px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.top {
    margin-top: 15px;
}

.items {
    margin: 4px 8px;
    color: grey;
    font-size: 10px;
}

.items a {
    text-decoration: none;
    color: grey;
}

.items a:hover {
    text-decoration: underline;
}

.bottom {
    margin-top: 8px;
    /* spacing between rows */
}